target/

# Ignore all temporary backup files.
**~

# Eclipse files.
.classpath
.settings
.project
.metadata

# Checkstyle files
.checkstyle

./lpinputs/
./triples/
# OS X meta files
.DS_Store

# IDEA files
.idea/*
!.idea/codeStyleSettings.xml
!.idea/fileTemplates
!.idea/fileTemplates/*
*.iml

# Spdz
suite/spdz/spdz/

# PMD
*.pmd
