target/

# Ignore all temporary backup files.
**~

# Eclipse files.
.classpath
.settings
.project

./lpinputs/
./triples/
# OS X meta files
.DS_Store

# IDEA files
.idea/*
!.idea/codeStyleSettings.xml
!.idea/fileTemplates
!.idea/fileTemplates/*
*.iml

